@import "tailwindcss";

@theme {
  --color-secondary: #f5741c;
  --color-darkBg: #131424;

  --background-image-gradient-cover: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.6) 111.58%
  );
}
html,
body {
  background: #1f1934;
  color: white;
}

main {
  height: 100vh;
  height: 100dvh;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important; 
}